@import url("droidarabicnaskh.css");
@import url(http://fonts.googleapis.com/css?family=Capriola);

:lang(en){font-family: 'Capriola', sans-serif;}

body {
	font-family: 'Droid Arabic Naskh', serif;
}

#footer {
 position:fixed;
 left:0px;
 bottom:0px;
 height:30px;
 width:100%;
}

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}

a.by {
  color:red;
}

div#footer {
	text-align: center;
}

div.container-login {
	margin-right: 25%;
	margin-top: 10%;
}

div.message {
	margin-top: 50px;
}

div.avatar {
  margin-top:50px;
  margin-right:10px;
}

div.profile_title {
  padding-top:50px;
  padding-right:20px;
  font-size:40px;
}

p.username {
  font-size: 20px;
  padding-right: 75px;
  padding-top:10px;
}

ul.non_list {
  list-style: none;
}

ul.profile_info_detail li {
  font-size: 15px;
}

ul.exams li {
  margin-top: 10px;
}

div.with-border {
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

p.show_adviser_title {
  color: black;
}

div.profile_info {
  color: black;
}

div.client_info {
  color: black;
}

div.profile_info div.with-border {
  margin-top:50px;
}

div.first_person {
  float:right;
}

div.second_person {
  float: left;
}

div.exam_title {
  margin-top:50px;
}

div.question {
  margin-top:50px;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; 
}

div.choices {
  margin-right: 20px;
}

input.question_submit {
  margin-top: 10px;
}

h3.question {
  margin-right: 10px;
}

div#footer {
  background-color: black;
  padding-top: 20px;
}

div.inline { float:right; }
.clearBoth { clear:both; }

.icon-zoom-in
{
  position:relative;
  left:23px;
  top:-8px;
  z-index:999;
}
.input-append input
{
  height:20px;
  padding-left:25px;
}

div.user_search form.form-search {
  padding-right: 35px;
  padding-bottom: 10px;
  padding-top:90px;
}


div.user_add form.form-search {
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top:90px;
}

div.client_in_adviser {
  margin-top: 50px;
}

div.client_exams {
  margin-top: 100px;
}

.label {
  padding: 6px 9px;
}

/* Rounded avatars */
.avatar {
  height: 200px;
  width: 200px;
  /*float: left;*/
  margin-top: 1em;
  margin-right: 1em;
  position: relative;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);

}

div.client_info {
 /* color: white;
 background-color: black; */
 height:500px;
 padding-right: 50px;
}

div.client_info p.username {
  font-size: 40px;
  font-family: 'Capriola', sans-serif;
  padding-right:50px;
  padding-top: 20px;
}

img.user_pic {
 /* margin-right: -2px; */
}

div.client_view {
  margin-top: 50px;
}

ul.profile_info_detail {
  padding-top: 30px;
  margin-: 10px;
}
li.items {
  margin:0 0 10px 0;   
}

p.show_client_title {
  font-size: 30px;
  padding-right: 30px;
  padding-top: 5px;
}




/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
  height: 100%;
  /*Image only BG fallback*/
  
}

body {
  background: url('../img/gs.png');
  /*background = gradient + image pattern combo*/
  background: 
  linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), 
  url('../img/gs.png');
}
/*form styles*/
#msform {
  width: 550px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  
  /*stacking fieldsets above each other*/
  position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

p.show_adviser_title {
  font-size: 30px;
  padding-right: 110px;
  padding-top:20px;
  padding-bottom: 20px;
}

.input-append2 input
{
  height:20px;
  padding-left:10px;
}



div.adviser_actions {
  padding-top: 0px;
  margin-bottom: 300px;
}